<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>系統主頁</title>
  <link href="/security/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/security/css/header.css" rel="stylesheet">
  <link href="/security/css/pricing.css" rel="stylesheet">
</head>

<body>
  <div th:include="components/header2 :: body"></div>

  <div class="pricing-header px-1 py-1 pt-md-3 pb-md-3 mx-auto text-center">
    <h3>登入測試頁面</h3>
    <p class="lead">
      Quickly build an effective pricing table for your potential customers with this Bootstrap example.
      It’s built with default Bootstrap components and utilities with little customization.
    </p>
    <p class="lead">
      還有什麼未來可以加入的：1).當前線上使用者IP。2).顯示角色權限。3).修改帳號密碼
    </p>
  </div>

  <div class="pricing-header px-1 py-1 pt-md-3 pb-md-3 mx-auto container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free (免費方案)</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ TWD</small></h1>
          <img class="mb-2" src="/security/image/naruto/naruto.png" alt="" width="100" height="100">
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro (會員方案)</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$150 <small class="text-muted">/ TWD</small></h1>
          <img class="mb-2" src="/security/image/naruto/sasuke.png" alt="" width="100" height="100">
          <button type="button" class="btn btn-lg btn-block btn-primary">Try it now</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Enterprise (企業方案)</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$330 <small class="text-muted">/ TWD</small></h1>
          <img class="mb-2" src="/security/image/naruto/kakashi.png" alt="" width="100" height="100">
          <button type="button" class="btn btn-lg btn-block btn-primary">Try for Enterprise</button>
        </div>
      </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="/security/image/home.png" alt="" width="30" height="30">
          <small class="d-block mb-3 text-muted">&copy; 2021-2025</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>